
*
{
	box-sizing: border-box;
}
div
{
	width : 80%;
	margin: 0 auto;
}
article
{
	width: 30%;
	margin:0 5% 0 0;
	float:left;
	padding : 0 0 0 10px;
	box-shadow: 2px 4px 3px forestgreen,
			    -8px -10px 3px cadetblue;
}

.sushi
{
	margin-right: 0;
	background-size: cover;
	font-family: sans-serif;
}

h3
{
	position: relative;
	left: 60%;
	border : 1px solid black;
	width:40%;
	top :-20px;
	color :tomato;
	overflow: auto;
}
.group::after
{
	content:'';
	clear:both;
	display: table;
}