*{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color:steelblue;
}
h2{
	display: inline;
	color: tomato;
	font-size: 1.6rem;
}
h3{
	display: inline;
	color: #33B2FF;
	font-size: 1.3rem;
}
li tr td th em{
	font-size: 1.2rem;
}
img{
	height: 500px;
	width:500px;
}
details{
	padding-left: 20px;
}
details > details{
	padding-left: 20px;
}
em{
	color: orange; 
}
h1{
	display: inline-block;
	font-size:2rem;
}